<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>Edit user</h1>
<form action="#" th:method="PATCH" th:action="@{/edit}" th:object="${user}">
    <label for="userId">UserId</label>
    <input readonly type="number" th:field="*{userId}" id="userId" placeholder="UserId">
    <br>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name" required/>
    <br>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="age">Enter age</label>
    <input type="number" min="0" max="127" th:field="*{age}" id="age">
    <br>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email" required/>
    <br>
    <input type="submit" class="buttonEdit" value="Edit user"/>

</form>
</body>
</html>